<ion-header>
  <ion-toolbar>
    <ion-title>BLE</ion-title>
  </ion-toolbar>
  <ion-button (click)="onEncender()" expand="block" >
    Encender bluetooth
  </ion-button>
  <ion-button (click)="onScan()" expand="block" >
    Scan
  </ion-button>
  <ion-button (click)="onGetAdapterInfo()" expand="block" >
    Ver Info
  </ion-button>
  <ion-button (click)="verDispositivos()" expand="block" fill="clear" shape="round">
    ver dispositivos
  </ion-button>
  <ion-button (click)="apagar()" expand="block" fill="clear" shape="round">
    Apagar bluetooth
  </ion-button>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item (click)=conectar(device.address)  *ngFor="let device of devices">
      <ion-label>{{device.name}}</ion-label>
      <h2>{{device.address}}</h2>
      <h3>{{device.rssi}}</h3>
    </ion-item>
  </ion-list>
</ion-content>
